* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
}

$background-color: linear-gradient(to right,
        black 35%,
        rgb(41, 37, 56) 35% 100%);
$Purple-btn: #5221E6;
$text: #FFFFFF;
$gray: #8491A0;
$black: #000000;


.header {
    width: 1440px;
    height: 88px;
    display: flex;
    background-image: $background-color;

    p {
        color: $text;
        font-size: 22px;
        line-height: 28px;
        font-weight: 800;
        margin-top: 32px;
        margin-left: 72px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    &__lists {
        display: flex;
        justify-content: space-between;
        margin-right: 72px;
        gap: 10px;

        & li {
            list-style: none;

            .header__btn {
                width: 147px;
                height: 88px;
                padding: 32px, 24px, 32px, 24px;
                background-color: rgb(41, 37, 56);
                transition: 0.3s ease;
            }

            .header__btn:hover,
            :focus {
                background-color: #5221E6;
            }

            .header__btn:active {
                background-color: #361796;
            }
        }
    }

    &__btn {
        width: 147px;
        height: 88px;
        color: $text;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
        border: 1px solid rgb(41, 37, 56);
        padding: 32px 24px 32px 24px;
        transition: background-color 0.3s ease;
    }

    &__btn:hover {
        background-color: $Purple-btn;
    }

    &__btn:active {
        background-color: #361796;
    }
}



//section__one//

.section__one {
    width: 1440px;
    height: 814px;
    top: 86px;
    // border: 1px solid red;
    background-image: $background-color;

    &-txt-img {
        width: 1440px;
        height: 814px;
        position: relative;
        display: flex;
        // border: 1px solid white;
    }

    &-txt-img img {
        margin-left: 0px;
        margin-top: 80px;
        z-index: 1;
        position: absolute;
    }

    &-txt {
        display: flex;
        flex-direction: column;
        width: 738px;
        height: 282px;
        margin-top: 221px;
        margin-right: 40px;
        z-index: 2;
    }

    &-txt h2 {
        font-family: sen;
        font-weight: 700;
        font-size: 78px;
        line-height: 93.84px;
        color: $text;

        span {
            color: $gray;
        }
    }

    &-txt p {
        font-family: sen;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: $text;
    }
}


// section__two

.section__two {
    width: 1440px;
    height: 715px;
    display: flex;
    flex-direction: column;
    background-color: black;
    // border: 1px solid red;

    &-text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-left: 72px;
        margin-top: 120px;
        // border: 1px solid orange;
        padding-bottom: 40px;
    }

    &-text p {
        font-family: sen;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
        margin-left: 0px;
    }

    &-text h3 {
        font-family: sen;
        font-weight: 700;
        font-size: 55px;
        line-height: 66px;
        color: $text;
    }

    &-boxs {
        display: flex;
        justify-content: space-around;
        gap: 24px;
        // border: 1px solid yellow;
    }

    &-boxs-left {
        width: 416px;
        height: 247px;
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
    }

    &-boxs-left h3 {
        font-family: sen;
        font-weight: 400;
        font-size: 117px;
        line-height: 141px;
        color: $gray;
        margin-left: 0px;
    }

    &-boxs-left h4 {
        font-family: sen;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: $text;
        margin-left: 0px;

        span {
            color: #3CC74E;
        }
    }

    &-boxs-left p {
        font-family: sen;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
        margin-left: 0px;
    }

    &-boxs-mdl {
        display: flex;
        flex-direction: column;
        width: 416px;
        height: 247px;
        // border: 1px solid green;
    }

    &-boxs-mdl h3 {
        font-family: sen;
        font-weight: 400;
        font-size: 117px;
        line-height: 141px;
        color: $gray;
        margin-left: 0px;
    }

    &-boxs-mdl h4 {
        font-family: sen;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: $text;
        margin-left: 0px;

        span {
            color: #609BFF;
        }
    }

    &-boxs-mdl p {
        font-family: sen;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
        margin-left: 0px;
    }

    &-boxs-right h3 {
        font-family: sen;
        font-weight: 400;
        font-size: 117px;
        line-height: 141px;
        color: $gray;
        margin-left: 0px;
    }

    &-boxs-right h4 {
        font-family: sen;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: $text;
        margin-left: 0px;

        span {
            color: #E95D90;
        }
    }

    &-boxs-right p {
        font-family: sen;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
        margin-left: 0px;
    }
}


// section__three

.section__three {
    width: 1440px;
    height: 600px;
    background-color: #FFFFFF;
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;


    &-txt {
        width: 720px;
        height: 600px;
        background-color: #FFF3E4;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & h2 {
            margin-bottom: 10px;
            font-family: sen;
            font-weight: 700;
            font-size: 55px;
            line-height: 66px;
            left: 0px;
            margin-left: 72px;
        }

        & p {
            margin-bottom: 10px;
            letter-spacing: 1px;
            font-family: sen;
            font-size: 18px;
            line-height: 27px;
            font-weight: 400;
            margin-left: 72px;
        }

        & a {
            font-size: 16px;
            font-family: sen;
            font-weight: 400;
            width: 116px;
            height: 28px;
            line-height: 24px;
            border-bottom: 1px solid $gray;
            color: #181823;
            text-decoration: none;
            margin-left: 72px;
            transition: 0.3s ease;
        }

        & a:hover,
        :focus {
            color: $Purple-btn;
        }

        & a:active {
            color: #361796;
        }
    }

    & figure {
        display: flex;
        width: 720px;
        height: 599px;
        // border: 2px solid red;

    }
}

// section__four

.section__four {
    display: flex;
    width: 1440px;
    height: 664px;
    background-color: black;

    // border: 1px solid red;
    &-big-block {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 416px;
        height: 225px;
        margin-top: 120px;
        margin-left: 72px;
        gap: 24px;
        // border: 1px solid orange;
    }

    &-big-block h2 {
        font-family: sen;
        font-weight: 700;
        font-size: 55px;
        line-height: 66px;
        color: $text;
        margin-left: 0px;
    }

    &-big-block p {
        font-family: sen;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: $gray;
        margin-left: 0px;
    }

    &-FB {
        display: flex;
        flex-wrap: wrap;
        width: 856px;
        height: 400px;
        gap: 24px;
    }

    &-FB-TL {
        display: flex;
        flex-direction: column;
        width: 416px;
        height: 176px;
        // border: 1px solid yellow;
        margin-top: 120px;

    }

    &-FB-TL img {
        margin-left: 0px;
    }

    &-FB-TL h2 {
        font-family: sen;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: $text;
        margin-left: 0px;
    }

    &-FB-TL p {
        font-family: sen;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
        margin-left: 0px;
    }

    &-FB-TR {
        display: flex;
        flex-direction: column;
        width: 416px;
        height: 176px;
        // border: 1px solid yellow;
        margin-top: 120px;
        // padding-bottom: 48px;
    }

    &-FB-TR img {
        margin-left: 0px;
    }

    &-FB-TR h2 {
        font-family: sen;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: $text;
        margin-left: 0px;
    }

    &-FB-TR p {
        font-family: sen;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
        margin-left: 0px;
    }

    &-FB-BL {
        width: 416px;
        height: 200px;
        font-family: sen;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
        // border: 1px solid yellow;
        margin-top: 24px;
    }

    &-FB-BL img {
        margin-left: 0px;
    }

    &-FB-BL h2 {
        font-family: sen;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: $text;
        margin-left: 0px;
    }

    &-FB-BL p {
        font-family: sen;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
        margin-left: 0px;
        margin-left: 0px;
    }

    &-FB-BR {
        width: 416px;
        height: 176px;
        font-family: sen;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
        // border: 1px solid yellow;
        margin-bottom: 120px;
        margin-top: 24px;
    }

    &-FB-BR img {
        margin-left: 0px;
    }

    &-FB-BR h2 {
        font-family: sen;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: $text;
        margin-left: 0px;
    }

    &-FB-BR p {
        font-family: sen;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
        margin-left: 0px;
    }
}


// section__five


.section__five {
    width: 1440px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;

    &-list {
        width: 1440px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;

        // border: 1px solid red;
        & li {
            list-style: none;

            & button {
                width: 340px;
                height: 138px;
                border: 1px solid $black;
                background-color: $black;
                transition: background-color 0.3s ease;

                & h2 {
                    font-size: 24px;
                    line-height: 30px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    color: $gray;
                }
            }

            & button:hover {
                background-color: rgb(54, 54, 54);
            }

            & button:active {
                background-color: #464646;
            }
        }
    }
}


// section__six

.section__six {
    width: 1440px;
    height: 2201px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    // border: 1px solid orange;

    &-text {
        gap: 8px;
        display: flex;
        flex-direction: column;
        // border: 1px solid yellow;
        margin-top: 120px;
        margin-left: 72px;
        margin-bottom: 80px;

        & p {
            font-family: sen;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: $gray;
            margin-left: 0px;
        }

        & h3 {
            font-family: sen;
            font-weight: 700;
            font-size: 55px;
            line-height: 66px;
            color: $text;
        }
    }

    &-block-TL {
        width: 636px;
        height: 830px;
        display: flex;
        flex-direction: column;
        align-self: center;

        &-text {
            width: 636px;
            height: 210px;
            background-color: #181823;
        }

        & h4 {
            font-family: sen;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: $text;
            margin-top: 40px;
            margin-left: 32px;
        }

        & p {
            font-family: sen;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: $gray;
            margin-left: 32px;
        }
    }

    &-block-BL {
        width: 636px;
        height: 830px;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-right: 24px;
        margin-bottom: 24px;
        margin-top: 24px;

        &-text {
            width: 636px;
            height: 210px;
            background-color: #181823;
        }

        & h4 {
            font-family: sen;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: $text;
            margin-top: 40px;
            margin-left: 32px;
        }

        & p {
            font-family: sen;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: $gray;
            margin-left: 32px;
        }
    }

    &-block-TR {
        width: 636px;
        height: 830px;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: 120px;
        margin-right: 72px;
        margin-bottom: 24px;

        &-text {
            width: 636px;
            height: 210px;
            background-color: #181823;
        }

        & h4 {
            font-family: sen;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: $text;
            margin-top: 40px;
            margin-left: 32px;
        }

        & p {
            font-family: sen;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: $gray;
            margin-left: 32px;
        }
    }

    &-block-BR {
        width: 636px;
        height: 830px;
        display: flex;
        flex-direction: column;
        align-self: center;

        &-text {
            width: 636px;
            height: 210px;
            background-color: #181823;
        }

        & h4 {
            font-family: sen;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: $text;
            margin-top: 40px;
            margin-left: 32px;
        }

        & p {
            font-family: sen;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: $gray;
            margin-left: 32px;
        }
    }

    &-button {
        width: 247px;
        height: 75px;
        border: 1px solid #5221E6;
        background-color: black;
        padding: 24px 32px 24px 32px;
        margin-top: 91px;
        margin-left: 219px;
        transition: background-color 0.3s ease;

        & p {
            color: $text;
            font-family: sen;
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
        }
    }

    &-button:hover {
        background-color: #464646;
    }

    &-button:active {
        background-color: #5221E6;
    }

}

// section__seven

.section__seven {
    width: 1440px;
    height: 600px;
    display: flex;
    align-items: center;

    &-text {
        width: 720px;
        height: 600px;
        background-color: #FBE4FF;

        & h2 {
            font-family: sen;
            font-weight: 700;
            font-size: 55px;
            line-height: 66px;
            color: #181823;
            margin-top: 120px;
            margin-left: 72px;
            padding-bottom: 24px;
        }

        p {
            font-family: sen;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #5B6876;
            margin-left: 72px;
            padding-bottom: 134px;
        }

        & a {
            text-decoration: none;
            font-family: sen;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #181823;
            border-bottom: 1px solid #8491A0;
            margin-left: 72px;
        }
    }
}

// section__eight

.section__eight {
    width: 1440px;
    height: 1248px;
    display: flex;
    flex-direction: column;
    // border: 1px solid blue;
    background-color: black;
    gap: 120px;

    &-text {
        width: 636px;
        height: 212px;
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        margin-left: 182px;

        & h2 {
            font-family: sen;
            font-weight: 700;
            font-size: 55px;
            line-height: 66px;
            color: $text;
            margin-left: 0px;
            padding-bottom: 24px;
        }

        & p {
            font-family: sen;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: $gray;
            margin-left: 0px;
            padding-bottom: 40px;
        }

        & a {
            font-family: sen;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $text;
            transition: color 0.3s ease;
            margin-left: 0px;
            text-decoration: none;
            border-bottom: 1px solid whitesmoke;
        }

        & a:link {
            color: white;
        }

        & a:visited {
            color: white;
        }

        & a:focus {
            color: white;
        }

        & a:hover {
            color: white;
        }

        & a:active {
            color: white;
        }
    }

    &-img {
        margin-right: 182px;
        margin-left: 182px;
        margin-bottom: 120px;

        & hr {
            width: 1076px;
            height: 36px;
            background-color: #181823;
            border-radius: 8px 8px 0px 0px;
        }
    }
}

// section__nine


.section__nine {
    width: 1440px;
    height: 2722px;
    // border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: $black;

    &-text {
        // border: 1px solid red;
        width: 636px;
        height: 278px;
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        margin-left: 72px;


        & h2 {
            font-family: sen;
            font-weight: 700;
            font-size: 55px;
            color: $text;
            line-height: 66px;
            margin-left: 0px;
            margin-bottom: 24px;
        }

        & p {
            font-family: sen;
            font-family: 400;
            font-size: 18px;
            line-height: 27px;
            color: $gray;
            margin-left: 0px;
            // margin-top: 40px;
        }

        & a {
            font-family: sen;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $gray;
            text-decoration: none;
            margin-left: 0px;
            margin-top: 40px;
            border-bottom: 1px solid $gray;
            transition: color 0.3s ease;
        }

        & a:link {
            color: $text;
        }

        & a:visited {
            color: $text;
        }

        & a:focus {
            color: $text;
        }

        & a:hover {
            color: $text;
        }

        & a:active {
            color: $text;
        }
    }

    &-cards-topCard {
        width: 636px;
        height: 790px;
        display: flex;
        flex-direction: column;
        // background-color: #5B6876;
        border: 1px solid $gray;
        margin-top: 120px;
        margin-right: 72px;

        & h3 {
            font-family: sen;
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            color: $text;
            margin-left: 64px;
            margin-top: 64px;
        }

        & h4 {
            font-family: sen;
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
            color: $gray;
            margin-left: 64px;
            margin-top: 64px;
        }

        & p {
            font-family: sen;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            color: $gray;
            margin-left: 64px;
        }
    }

    &-cards-midCard {
        width: 636px;
        height: 697px;
        display: flex;
        flex-direction: column;
        border: 1px solid $gray;
        margin-top: 120px;
        margin-right: 72px;

        & h3 {
            font-family: sen;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
            color: $text;
            margin-left: 64px;
            margin-top: 64px;
        }

        & h4 {
            font-family: sen;
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
            color: $gray;
            margin-left: 64px;
            margin-top: 64px;
        }

        & p {
            font-family: sen;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            color: $gray;
            margin-left: 64px;
        }
    }

    &-cards-botCard {
        width: 636px;
        height: 755px;
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        margin-right: 72px;
        border: 1px solid #5B6876;
        margin-bottom: 120px;

        & h3 {
            font-family: sen;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: $text;
            margin-top: 64px;
        }

        & h4 {
            font-family: sen;
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            color: $gray;
            margin-top: 64px;
            margin-left: 64px;
        }

        & p {
            font-family: sen;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: $gray;
            margin-left: 64px;
        }
    }
}



// section__ten

.section__ten {
    width: 1440px;
    height: 959px;
    display: flex;
    flex-direction: column;
    background-color: $black;
    // border: 1px solid green;

    &-text {
        width: 588px;
        height: 144px;
        display: flex;
        flex-direction: column;
        margin-left: 72px;
        margin-top: 120px;
        margin-bottom: 64px;
        // border: 1px solid orange;

        & h2 {
            font-family: sen;
            font-weight: 700;
            font-size: 55px;
            line-height: 66px;
            margin-left: 0px;
            margin-bottom: 24px;
            color: $text;
        }

        & p {
            font-family: sen;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            margin-left: 0;
            color: $gray;
        }
    }

    &-btn {
        width: 490px;
        height: 51px;
        // border: 1px solid red;
        margin-left: 32px;
        margin-bottom: 40px;

        & ul {
            display: flex;
            gap: 24px;
            list-style: none;

            & button {
                height: 51px;
                padding: 12px 16px 12px 16px;
                font-family: sen;
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
                color: $text;
                border: 1px solid $Purple-btn;
                background-color: $black;
                transition: background-color 0.3s ease;
            }

            &-btn-italy {
                width: 88px;
            }

            &-btn-australia {
                width: 136px;
            }

            &-btn-india {
                width: 92px;
            }

            &-btn-brazil {
                width: 102px;
            }

            & button:link {
                background-color: $Purple-btn;
            }

            & button:visited {
                background-color: $Purple-btn;
            }

            & button:focus {
                background-color: $Purple-btn;
            }

            & button:hover {
                background-color: $Purple-btn;
            }

            & button:active {
                background-color: $Purple-btn;
            }
        }
    }

    &-img {
        // border: 1px solid yellow;
        margin-left: 72px;
        margin-bottom: 120px;

        & img {
            padding-right: 12px;
            padding-left: 12px;
        }
    }
}

.section__eleven {
    width: 1440px;
    height: 731px;
    display: flex;
    justify-content: space-around;
    background-color: $black;
    // border: 1px solid red;

    &-text {
        width: 526px;
        height: 144px;
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        margin-left: 182px;

        & h2 {
            font-family: sen;
            font-weight: 700;
            font-size: 55px;
            line-height: 66px;
            color: $text;
            margin-left: 0px;
            margin-bottom: 24px;
            letter-spacing: 2px;
        }

        & p {
            font-family: sen;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: $text;
            margin-left: 0px;
        }
    }

    &-input {
        width: 526px;
        height: 491px;
        margin-top: 120px;
        margin-right: 182px;

        // border: 1px solid red;
        & p {
            font-family: sen;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $text;
        }
    }

    .input-name {
        width: 526px;
        height: 50px;
        margin-top: 8px;
        margin-bottom: 40px;
        border: 1px solid #181823;
        background-color: #181823;
        caret-color: $Purple-btn;

    }

    .input-email {
        width: 526px;
        height: 50px;
        margin-bottom: 40px;
        background-color: #181823;
        border: 1px solid #181823;
        caret-color: $Purple-btn;
    }

    .input-message {
        width: 526px;
        height: 100px;
        margin-bottom: 40px;
        background-color: #181823;
        border: 1px solid #181823;
        caret-color: $Purple-btn;
    }

    .login-submit {
        width: 526px;
        height: 75px;
        padding: 20px 32px 24px 32px;
        background-color: $Purple-btn;
        font-family: sen;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: $text;
        transition: background-color 0.3s ease;
    }

    .login-submit:link {
        background-color: #361796;
    }

    .login-submit:visited {
        background-color: #361796;
    }

    .login-submit:focus {
        background-color: #361796;

    }

    .login-submit:hover {
        background-color: #361796;
    }

    .login-submit:active {
        background-color: #361796;
    }
}


// footer


.footer {
    width: 1440px;
    height: 422px;
    display: flex;
    justify-content: space-between;
    // border: 1px solid orange;
    background-color: #181823;

    &__text {
        width: 526px;
        height: 262px;
        display: flex;
        flex-direction: column;
        // border: 1px solid red;
        margin-top: 80px;
        margin-left: 72px;

        & h2 {
            font-family: Bebas Neue;
            font-size: 44px;
            line-height: 40px;
            font-weight: 700;
            color: $text;
            padding-bottom: 32px;
            margin-left: 0px;
        }

        &-logo {
            width: 104px;
            height: 24px;
            // border: 1px solid yellow;
            display: flex;
            justify-content: space-between;
            margin-left: 0px;
            padding-bottom: 142px;
            transition: all 0.3s ease;
             & img:hover {
                width: 26px;
                height: 26px;
             }
        }

        &-snos {
            & p {
                font-family: sen;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $gray;
                padding: 0px;
            }
        }
    }

    &__list-left {
        width: 196px;
        height: 192px;
        display: flex;
        flex-direction: column;
        // border: 1px solid green;
        margin-top: 80px;
        margin-left: 540px;

        & ul {
            margin-left: 0px;
            padding: 0px;
        }

        & li {
            list-style: none;
        }

        & a {
            text-decoration: none;
            font-family: sen;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $text;
            transition: all 0.3s ease;
        }

        & a:link {
            color: $Purple-btn;
        }

        & a:visited {
            color: $text;
        }

        & a:focus {
            font-size: 14px;
        }

        & a:hover {
            font-size: 18px;
        }

        & a:active {
            font-size: 14px;
            color: $Purple-btn;
        }
    }

    &__list-right {
        width: 196px;
        height: 144px;
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        margin-right: 182px;

        & ul {
            margin-left: 0px;
            padding: 0;
        }

        & li {
            list-style: none;
        }

        & a {
            text-decoration: none;
            font-family: sen;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $text;
            transition: all 0.3s ease;
        }

        & a:link {
            color: $Purple-btn;
        }

        & a:visited {
            color: $text;
        }

        & a:focus {
            font-size: 14px;
        }

        & a:hover {
            font-size: 18px;
        }

        & a:active {
            font-size: 14px;
            color: $Purple-btn;
        }
    }

    // &__snosk {
    //     font-family: sen;
    //     font-weight: 400;
    //     font-size: 16px;
    //     line-height: 24px;
    //     color: $gray;
    //     margin-bottom: 80px;
    //     margin-left: 72px;
    // }
}


@font-face {
    font-family: Bebas Neue;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: sen;
    src: url(../fonts/Sen-VariableFont_wght.ttf);
}